# SPDX-FileCopyrightText: 2021 Jeff Epler
#
# SPDX-License-Identifier: GPL-3.0-only
build
click
coverage
mypy; implementation_name=="cpython"
pre-commit
setuptools>=45
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
twine
wheel
